<head>
    <style>
        .large-indent {text-indent: 150px}
        .med-indent {text-indent: 100px}
        .small-indent {text-indent: 50px}
    </style>
</head>

<body>

<h1> TODO </h1>

<div class="game-elements">
    <h2> Game Elements </h2>
        <h3 class="small-indent"> Enemies </h3>
            <h4 class="med-indent"> Regular Customer </h4>
                <p class="large-indent"> This is a regular grunt like customer, they walk at you and deal damage when they touch you </p>
            <h4 class="med-indent"> Gluttonous Customer </h4>
                <p class="large-indent"> A tankier more exp rewarding customer with the same gameplay as a Regular Customer </p>

            <h4 class="med-indent"> Karen Customer </h4>
                <p class="large-indent"> Picky customers? </p>
        
        <h3 class="small-indent"> Critics </h3>

        <h3 class="small-indent"> Base Weapons </h3>

            <h4 class="med-indent"> Rice </h4>
                <p class="large-indent"> Fires a grain of rice at the nearest enemy </p>

            <h4 class="med-indent">Bananna </h4>
                <p class="large-indent"> \par boomerang like weapon </p>

            <h4 class="med-indent"> Potato </h4>

            <h4 class="med-indent"> Pasta </h4>

            <h4 class="med-indent"> Corn </h4>
                <p class="large-indent"> plant a corn in the ground and after a delay it sprouts and shoots mini cobs of corn in directions, starting with up and down and then adding more in a circular pattern, evenly spaced </p>

            <h4 class="med-indent"> Sou Chef </h4>
                <p class="large-indent"> Sou Chef will periodically come on the field to help in some way </p>

        <h3 class="small-indent"> Upgraded Weapons </h3>
            <h4 class="med-indent"> Spaghetti Whip </h4>
                <p class="large-indent"> combination of spaghetti and meatballs into a whip that swings around damages enemies near you </p>

            <h4 class="med-indent"> Cookie Axe </h4>
                <p class="large-indent"> Melee weapon that swings in a half-cirlce alternating on each side for big damage </p>

            <h4 class="med-indent"> Unidentified </h4>
                <p class="large-indent"> sends streaks horizontally across the screen dealing damage to anything it touches, streaks alternate going left to right and are vertically offset </p>

        <h3 class="small-indent"> Spices </h3>

        <h3 class="small-indent"> Cooking / Recipies </h3>

</div>

<div class="stages">
    <h2> Stages </h2>

        <h3 class="small-indent"> BBQ </h3>
            <p class="med-indent"> stage that takes place at an outdoor bbq </p>
    
        <h3 class="small-indent"> Resaurant </h3>
            <p class="med-indent"> Stage that takes place in a restaurant </p>


</div>

<div class="flavour">
    <h2> Flavor / Visuals </h2>
        <h3 class="small-indent"> Shop Keeper / Supplier </h3>
            <p class="med-indent"> some sort of shop keeper on the level up screen </p>
        <h3 class="small-indent"> Borderlands Style Boss Intros </h3>
            <p class="med-indent"> Freeze frame with more detailed art of boss and their name </p>


</div>

</body>
